# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Environnements virtuels
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Env
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
